.footer{
    background-image: url('../../../assets/fond.JPG');
    width: 100%;
&__title{
    text-align: center;
    font-family: fantasy;
    color: #AF7AC5;
    background-color: white;
}  
&__droit{
    margin-left: 5%;
}
&__date{
    margin-left: 5%;
}
}
