

<mat-card
class="signin">
<form [formGroup]="signinForm" (ngSubmit)="controlUser()">
<section fxLayout="column" fxLayoutAlign="start stretch">
    <h1
    class="signin__title">ESPACE ADMINISTRATEUR
   </h1>
        <div class="signin__forms">
            <section>
            <mat-form-field>
            <input matInput placeholder="NOM"
            type="text"
            formControlName="name">
            </mat-form-field>
            </section>

            
            <section>
            <mat-form-field>
            <input matInput placeholder="MOT DE PASSE"
            type="password"
            formControlName="password">
            </mat-form-field>
            </section>

            <button
            class="signin__button"
            type="submit">
                CONNEXION
            </button>
        </div>
</section>
</form>
</mat-card>
