.mentions{
    border: 3px solid green;
    height: 350px;
    width: 40%;
    background: linear-gradient(0.25turn, #85C1E9, #AF7AC5, #F9E79F);
    margin-left: 30%;
    overflow: scroll;
    font-family: Bookman old style;
    letter-spacing: 0.2vw;
}
h1{
    text-decoration: underline;
}
@media screen and (max-width: 840px) {
    .mentions{
        border: 3px solid green;
        height: 350px;
        width: 98%;
        background: linear-gradient(0.25turn, #85C1E9, #AF7AC5, #F9E79F);
        margin-left: 1%;
        overflow: scroll;
        font-family: Bookman old style;
        letter-spacing: 0.2vw;
    }
}