<mat-card
class="mentions">
    <h1>MENTIONS LEGALES</h1>

    <h2>Comment commander ?</h2>
    <p>Un modèle vous plait ou plusieurs, ajoutez le ou les à votre panier. Le montant total vous sera présenté au moment de la validation finale de votre commande.</p>
    <h2> Les articles commandés :</h2>
    <p>Certains articles sont uniques. Par conséquent, si vous commandez un bijou personnalisé il pourra, de ce fait, être légèrement différent de celui de la photo (photo non contractuelle). Ceci concerne surtout les bijoux en peinture prisme ou moon couverts de résine. L'effet est différent à chaque création.
    Le bijou sera réalisé lors de la validation de votre commande.</p>
    <h2>Les frais de livraison ?</h2>
    <p>Dans le cas où vous achèteriez plusieurs bijoux,les frais de livraison seront calculés en fonction du poids de votre panier final.</p>
    <h2>Les moyens de paiement ?</h2>
    <p>Pour les commandes, le seul moyen de paiement accepté est PayPal.</p>
    <h2>La livraison de la commande ?</h2>
    <p>La livraison de la commande sera effectuée au plus tard quatre (4) jours après l'arrivée du paiement.
        En cas d'achats multiples d'un même objet, des délais supplémentaires sont à prévoir (temps de réalisation).
        Pour les commandes personnalisées, un mail sera envoyé dès que le bijou sera créé. Il sera envoyé au plus tard deux (2) jours après la validation du client.​</p>
    <h2>Confidentialité</h2>
    <p>Seule Flogui Boutique a accès aux données de ses clients et  s'engage à ne pas les transmettre à des tiers</p>
  
</mat-card>
