
<mat-card 
class="presentation">
<h1>Bienvenue sur Flogui Boutique,</h1>
  
        <p>Je crée des boucles d'oreilles, des pendentifs,
            des bracelets, ou encore des colliers.</p>
            ​
        <p>   Pour les réaliser, j'utilise différentes techniques (pâte polymère,
            résine, porcelaine froide...) et différents apprêts 
            (perles magiques, perles acryliques, aluminium, ruban, breloques...).</p>
        <p>  Vous souhaitez un bijou unique et personnalisé ? Donnez moi vos couleurs,
            matériaux ou encore thèmes, je vous prépare quelques modèles
                et vous faites votre choix
        </p>
        <app-contact></app-contact>
</mat-card>